.App {
  text-align: center;
  font-family: var(--body-font);
}

.App .container {
  margin-top: 130px;
}

.App .container small,
.App .container small a {
  color: var(--cream-color);
}

.App .container small {
  padding: 5px;
  border-radius: 4px;
  background-color: var(--soft-color);
}

@media (max-width: 530px) {
  .App .container {
    margin-top: 80px;
  }
}
