.Forecast ul {
  padding: 0;
  line-height: 2.5;
  margin-bottom: 5px;
  list-style: none;
}

@media (max-width: 575px) {
  .Forecast ul {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
