:root {
  --cream-color: #f0f1d3;
  --cherry-color: #5e0d26;
  --blueberry-color: #313d70;
  --peach-color: #e16853;
  --soft-color: #f0f1d350;
  --body-font: noto Sans;
  --accent-font: Fjalla One;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blueberry-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
